--extra-index-url https://download.openmmlab.com/mmcv/dist/cu113/torch1.11.0/index.html 
mmcv-full==1.6.0
argparse~=1.4.0
numpy~=1.23.4
mmcls~=0.23.1
requests~=2.28.1
pyyaml~=6.0
opencv-python~=4.6.0.66
opencv-python-headless~=4.6.0.66
matplotlib~=3.5.2
pillow~=9.2.0
prettytable~=3.3.0
packaging~=21.3
setuptools~=63.1.0
background==0.2.1
wandb==0.13.2
kornia==0.6.5
einops==0.4.1
pytorch_memlab==0.2.4
mmsegmentation==0.26.0
DriveDownloader==1.4.0.post1
torch==1.11.0
torchvision==0.12.0
torchaudio==0.11.0
timm==0.6.7
pytorch-lightning==1.7.2
pandas~=1.4.3
clearml~=1.6.4
seaborn==0.11.2
dotmap==1.3.30
torchshow==0.4.2
omegaconf==2.2.3
optuna==3.0.2
albumentations==1.3.0
git+https://github.com/open-mmlab/mmrazor.git@8b57a07b5e6033dbd0052aeaf0f72668bdaecd00
grad-cam
mmdet==2.26.0
cityscapesscripts
# git+https://github.com/ViTAE-Transformer/ViTDet.git@19dd30a496b63b4d18a08ea34a40f167c2d7b8ff
